<body>
    <div class="container1">
        <div class="textoNotas"><h2>MODIFICAR NOTA</h2></div>
        <div class="containerForm">
            <form ngNativeValidate [formGroup]="formulario" (ngSubmit)="ModificarDatos()">
                <ul>
                    <li>
                        <mat-form-field class="controls" appearance="fill">
                            <mat-label>Nota a Modificar</mat-label>
                            <mat-select formControlName="notaModificar" required>
                                <mat-option *ngFor="let item of lista" [value]="item.titulo">{{item.titulo}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field class="controls" appearance="fill">
                            <mat-label>Titulo</mat-label>
                            <input formControlName="titulo" matInput required>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field class="controls" appearance="fill">
                            <mat-label>Estados</mat-label>
                            <mat-select formControlName="estado" required>
                                <mat-option value="1">Abierto</mat-option>
                                <mat-option value="2">En Proceso</mat-option>
                                <mat-option value="3">Cerrado</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </li>
                    <li>
                        <mat-form-field class="controls" appearance="fill">
                            <mat-label>Descripcion</mat-label>
                            <textarea formControlName="descripcion" matInput required></textarea>
                        </mat-form-field>
                    </li>
                    <li>
                        <button type="submit" mat-raised-button>Actualizar</button>
                    </li>
                </ul>
            </form>
            
        </div>
    </div>
    
</body>
