*{
    font-family: 'Poppins',sans-serif;
}

body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(89, 171, 196);
}


.containerMN{
    background-color: #24303c;
    box-shadow: 7px 13px 37px #000;
    height: auto;
}

.textoNotas{
    font-size: 30px;
    background-color: rgb(26, 25, 25);
    color:white;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
}

ul{
    padding:0 20px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.NotasBox{
    width:300px ;
}

.NotasBoxAbierto{
    background-color:rgb(68, 190, 68);
    margin: 4%;
    border-width:3px;
    border-style: solid;
    border-color:green;
    border-radius: 10px;
}

.NotasBoxProceso{
    background-color: rgb(241, 241, 88);
    margin: 4%;
    border-width:3px;
    border-style: solid;
    border-color: yellow;
    border-radius: 10px;
}

.NotasBoxCerrado{
    background-color: rgb(231, 71, 71);
    margin: 4%;
    border-width:3px;
    border-style: solid;
    border-color: red;
    border-radius: 10px;
}

.textoTitulo{
    font-weight: bold;
    margin: 5px;
}

.textoDescripcion{
    margin:5px;
}

footer{
    display: flex;
    justify-content: center;
    
}
ul button{
    margin: 5px;
    background-color: black;
    color:white;
    font-weight: bold;
    border-style: none;
    border-radius: 4px;
}

footer button{
    background: #1f53c5;
    
    padding: 10px 40px;
    color: white;
    font-size: 30px;
    margin: 20px 30px;
    font-size: 16px;
}
